body {
    background-image: url("http://www.greeniteconomicsummit.org/upload/2018/05/03/theater-drapes-and-stage-curtains-light-theatre-curtains-theatre-curtains-l-a5e6333e8f9ecef5.png");
    background-color: #cccccc;
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(214, 164, 91);

}

#wrapper {
    text-align: center;
    margin: 10px 200px;
}